
AOM.EventSourcing/.vs/AOM.EventSourcing/v16/Server/sqlite3/db.lock
AOM.EventSourcing/.vs/AOM.EventSourcing/DesignTimeBuild/.dtbcache
AOM.EventSourcing/.vs/AOM.EventSourcing/DesignTimeBuild/.dtbcache
AOM.EventSourcing/.vs/AOM.EventSourcing/v16/.suo
AOM.EventSourcing/.vs/AOM.EventSourcing/v16/Server/sqlite3/db.lock
/AOM.EventSourcing/AOM.Customer.Domain/obj/Debug/netcoreapp3.1/AOM.Customer.Domain.csprojAssemblyReference.cache
